@model IEnumerable<DoListApp.Domain.Entity.SimpleTask>
@{
    ViewData["Title"] = "Home Page";

}
<div class="row">
    <div class="col-6">
        <form action="Create", method="get">
            <button class="btn btn-primary text-start", asp-action="Create">Добавить задачу</button>
        </form>
    </div>
</div>

<div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Task in Model)
                {
                    <tr id="task-@Task.Id">
                        <th>@Task.Name</th>
                        <th>@Task.Date</th>
                        <td>
                            <form method="get", asp-action="Update" asp-route-id="@Task.Id">
                            <input type="submit" class="btn btn-primary" value="Детали" />
                            </form>
                            <button type="button" class="btn btn-danger delete-task-button" data-task-id="@Task.Id">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
    </table>
    

</div>

@section scripts{
            <script>
                $(function() {
                    $('.delete-task-button').click(function() {
                        var taskId = $(this).data('task-id');
                        $.ajax({
                            url: '@Url.Action("Delete", "Task")',
                            type: 'POST',
                            data: {id: taskId},
                            success: function() {
                                $('#task-' + taskId).fadeOut(500, function() {
                                    $(this).remove();
                                });
                            }
                        });
                    });
                });

            </script>
}