@using DoListApp.Domain.Entity;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Task in Model)
            {
                        <tr id="task-@Task.Id">
                            <th>@Task.Id</th>
                            <th>@Task.Name</th>
                            <th>@Task.Description</th>
                            <th>@Task.Date</th>
                            <th>
                                <button type="button" class="btn btn-danger delete-task-button" data-task-id="@Task.Id">Удалить</button>
                            </th>
                        </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
            <script>
                $(function() {
                    $('.delete-task-button').click(function() {
                        var taskId = $(this).data('task-id');
                        $.ajax({
                            url: '@Url.Action("Delete", "Home")',
                            type: 'POST',
                            data: {id: taskId},
                            success: function() {
                                $('#task-' + taskId).fadeOut(500, function() {
                                    $(this).remove();
                                });
                            }
                        });
                    });
                });
            </script>
}